/*This is our modified css file*/
.navbar-brand{
    margin-top:-6px !important;
}

.navbar{
    height:55px !important;
}

#logo-text {
    font-size: 2em;
}

#logo-icon {
    color: black;
}

.home-container {
    margin-bottom: 250px;
}

.dowload-btn {
    padding: 2px 12px 5px 12px;
}

.img-responsive{
    box-shadow: 0 8px 9px -6px rgba(0,0,0,.5);
    border: 1px solid #D3D3D3;
}
#carousel-example-generic{
    box-shadow: 0 8px 9px -6px rgba(0,0,0,.5);
    border: 1px solid #D3D3D3;
}