/*This is our modified css file*/
.navbar-brand{
    margin-top:-6px !important;
}

.navbar{
    height:55px !important;
}

#logo-text {
    font-size: 2em;
}

#logo-icon {
    color: black;
}

.home-container {
    margin-bottom: 250px;
}

.dowload-btn {
    padding: 2px 12px 5px 12px;
}