<div class="error">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/t3otBjVZzT0?autoplay=1" frameborder="0" allowfullscreen></iframe>
    <h3 class="font-bold">We couldn't find the page..</h3>

    <div class="error-desc">
        Sorry, but the page you are looking for was either not found or does not exist.
        <br/> Try refreshing the page or click the button below to go back to the Homepage.
        <div>
            <a class="btn" href="/">
                <i class="fa fa-arrow-left"></i> Go back to Homepage
            </a>
        </div>
    </div>
</div>
