    <!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
    <div class="container topnav">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand topnav" href="#"><i id="logo-icon" class="fa fa-binoculars fa-3x"></i> <span id="logo-text">TrackforMe</span> </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#about">About</a>
                </li>
                <li>
                    <a href="#screenshots">Screenshots</a>
                </li>
                <li>
                    <a href="#contact">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- Header -->
<div class="intro-header">
    <div class="container home-container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>Don't miss a thing</h1>
                    <h3>keep a track of what  you are waiting for.</h3>
                    <button type="button" class="btn btn-success dowload-btn">
                        <h3>Install for Chrome <i class="fa fa-chrome"></i></h3>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <a name="about"></a>
    <!-- /.container -->
</div>
<!-- /.intro-header -->
<!-- Page Content -->
<div class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Why TrackforMe ?</h2>
                <p class="lead">Have you ever waste time verifiying over and over again the same page waiting for a change? If your answer was yes, don't do that again! Our extension track this change for you!</p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="img/img1.png" alt="">
            </div>
        </div>
    </div>
    <a name="screenshots"></a>
    <!-- /.container -->
</div>
<!-- /.content-section-a -->
<div class="content-section-b">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Screenshots</h2>
                <p class="lead">You'll be able to track words, values, designs and more! Follow the simple steps to setup what you're waiting for and when that happens you'll be notified!</p>
            </div>
            <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <img src="img/screenshot1.png" alt="">
                            <div class="carousel-caption">
                            </div>
                        </div>
                        <div class="item">
                            <img src="img/screenshot2.png"  alt="">
                            <div class="carousel-caption">
                            </div>
                        </div>
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                        <span class="fa fa-chevron-left icon-prev" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                        <span class="fa fa-chevron-right icon-next" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <a name="contact"></a>
    <!-- /.container -->
</div>
<!-- /.content-section-b -->
<div class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Do you need help? Contact us.</h2>
                <p class="lead">If you have any concern about how TrackforMe works or  any kind of question, don't doubt to contact us for help: <a target="_blank" href="http://fontawesome.io"><h4>Email: info@trackforme.com</h4></a></p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="img/contact.jpg"  alt="">
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.content-section-a -->
<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-lg-offset-4">
                <h1>Our Code:</h1>
            </div>
            <div class="col-lg-2">
                <a href="https://github.com/mejiamanuel57/trackforme" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw fa-3x"></i> <span class="network-name">Github</span></a>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.banner -->
<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="list-inline">
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#about">About</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#screenshots">Screenshots</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
                <p class="copyright text-muted small">Copyright &copy; TrackForMe 2016. All Rights Reserved</p>
            </div>
        </div>
    </div>
</footer>
<!-- jQuery -->
<script src="vendors/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="vendors/bootstrap/dist/js/bootstrap.min.js"></script>
